<div class="modal fade" id="modal-message" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title" id="exampleModalLabel">Включение файлов cookie в браузерах</h5></div>
            <div class="modal-body">
                Для корректной работы сайта необходимо включить cookies и перезагрузить страницу
                <div class="accordion" id="accordion1" role="tablist" style="margin-top:10px;">
                    <div class="card">
                        <div class="card-header" role="tab"><h6><a href="#collapseOne" data-toggle="collapse" data-parent="#accordion1" aria-expanded="false" class="">Как включить файлы cookie в браузере Google Chrome на компьютере Windows</a></h6></div>
                        <div class="collapse show" id="collapseOne" role="tabpanel" style="">
                            <div class="card-body">
                                <ol>
                                    <li><p>Откройте браузер и щелкните значок параметров, расположенный в правом верхнем углу.</p><hr/><br/></li>
                                    <li><p>В открывшемся меню выберите <b>Параметры</b>.</p><hr/><br/></li>
                                    <li><p>На странице <b>Настройки</b> нажмите <b>Дополнительные</b>.</p><hr/><br/></li>
                                    <li><p>В разделе <b>Конфиденциальность и безопасность</b> выберите <b>Настройки контента</b>.</p><hr/><br/></li>
                                    <li><p>Нажмите <b>Файлы сookie</b>.</p><hr/><br/></li>
                                    <li><p>Передвиньте вправо переключатель <b>Заблокировано</b>.</p></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab"><h6><a class="collapsed" href="#collapseTwo" data-toggle="collapse" data-parent="#accordion1" aria-expanded="false">Как включить файлы cookie в браузере Opera на компьютере Windows</a></h6></div>
                        <div class="collapse" id="collapseTwo" role="tabpanel">
                            <div class="card-body">
                                <ol>
                                    <li><p>Выберите <b>Меню > Инструменты > Настройки</b>.</p><hr/><br/></li>
                                    <li><p>В окне Настройки откройте вкладку <b>Расширенные</b>.</p><hr/><br/></li>
                                    <li><p>Выберите <b>Cookies</b>.</p><hr/><br/></li>
                                    <li><p>Выполните одно из следующих действий:</p>
                                        <ul>
                                            <li><p>Выберите <b>Принимать cookies</b>.</p></li>
                                            <li><p>Выберите <b>Принимать только с посещаемого сайта</b>.</p></li>
                                        </ul><br/><hr/><br/>
                                    </li>
                                    <li><p>Убедитесь, что не выбран параметр <b>Удалять новые cookies при выходе из Opera</b>, и нажмите кнопку <b>ОК</b>.</p></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab"><h6><a class="collapsed" href="#collapseThree" data-toggle="collapse" data-parent="#accordion1" aria-expanded="false">Как включить файлы cookie в браузере Mozilla Firefox на компьютере Windows</a></h6></div>
                        <div class="collapse" id="collapseThree" role="tabpanel">
                            <div class="card-body">
                                <ol>
                                    <li><p>В браузере выберите <b>Инструменты</b>, затем выберите <b>Настройки</b>.</p><hr/><br/></li>
                                    <li><p>В окне <b>Настройки</b> выберите <b>Приватность</b>.</p><hr/><br/></li>
                                    <li><p>В раскрывающемся списке <b>Firefox</b> выберите <b>будет использовать ваши настройки хранения истории</b>.</p><hr/><br/></li>
                                    <li><p>Выберите <b>Принимать куки с сайтов</b>, если этот параметр еще не выбран.</p><hr/><br/></li>
                                    <li><p>Нажмите кнопку <b>ОК</b>.</p></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab"><h6><a class="collapsed" href="#collapseFour" data-toggle="collapse" data-parent="#accordion1" aria-expanded="false">Как включить файлы cookie в браузере Internet Explorer на компьютере Windows</a></h6></div>
                        <div class="collapse" id="collapseFour" role="tabpanel">
                            <div class="card-body">
                                <ol>
                                    <li><p>В браузере выберите <b>Сервис</b>, затем выберите <b>Свойства обозревателя</b>.</p><hr/><br/></li>
                                    <li><p>В окне <b>Свойства обозревателя</b> откройте вкладку <b>Конфиденциальность</b>.</p><hr/><br/></li>
                                    <li><p>Нажмите кнопку <b>Узлы</b>.</p><hr/><br/></li>
                                    <li><p>В диалоговом окне <b>Конфиденциальность для отдельных веб-сайтов</b> в поле <b>Адрес веб-сайта</b> введите @Resource.UrlSite, а затем щелкните <b>Разрешить</b>.</p><hr/><br/></li>
                                    <li><p>Нажмите кнопку <b>ОК</b>.</p><hr/><br/></li>
                                    <li><p>В окне <b>Свойства обозревателя</b> нажмите кнопку <b>ОК</b>, чтобы сохранить параметры.</p></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
