<div class="topbar">
    <div class="topbar-column">
        <a class="hidden-md-down" href="mailto:nastyanicak@gmail.com"><i class="icon-mail"></i>&nbsp; nastyanicak@gmail.com</a>
        <a class="hidden-md-down" href="tel:063 825-1498"><i class="icon-bell"></i>&nbsp; 063 825-1498</a>
        <a class="social-button sb-instagram shape-none sb-dark" href="https://www.instagram.com/nitsak.com.ua/" target="_blank" rel="nofollow"><i class="socicon-instagram"></i></a>
        <a class="social-button sb-vk shape-none sb-dark" href="https://vk.com/id86214736" target="_blank" rel="nofollow"><i class="socicon-vkontakte"></i></a>
        <a class="social-button sb-facebook shape-none sb-dark" href="https://www.facebook.com/profile.php?id=100024375933840" target="_blank" rel="nofollow"><i class="socicon-facebook"></i></a>
    </div>
</div>
